<!--Codigo gerado em layoutit.com-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					FATEC! <small>Sistema de Controle de Estoque</small>
				</h1>
			</div>
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="material-icons">home</i>Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#!produtos"><i class="material-icons">language</i>Cadastro</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="#!consultar"><i class="material-icons">language</i>Consultar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Usuario</a>
				</li>
				<li class="nav-item dropdown ml-md-auto">
					 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						 <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider">
						</div> <a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li>
			</ul>
		</div>
	</div>


<div class="row" ng-show="mensagem.titulo">
	<div class="alert alert-{{mensagem.cor}} alert-dismissible fade show" role = "alert">
		{{mensagem.titulo}}
		<button type="button" class="close" data-dismiss="alert">
			x
		</button>
	</div>
</div>
</div>